    <!--
    File Name: Footer File 
    Student's Name: Farouk Oladega
    StudentID: 301272363
    Date: 04-Oct-2023
 -->
    <!-- Last partial-->
    <!-- Script Section -->
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    </body>
    <footer>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom">
        <h6 class=" display-8 navbar-text">&copy; CopyRight 2023. All Rights Reserved | foladega@my.centennialcollege.ca</h6>
        </nav>
    </footer>
</html>