     <!--
    File Name: Header File 
    Student's Name: Farouk Oladega
    StudentID: 301272363
    Date: 04-Oct-2023
 -->
     <!--  First partial-->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
     <!-- CSS Section ::: -->
            <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css'/>
            <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  

    