/* Default styles for the grid container */
.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 70px 80px 600px 50px 70px;
  gap: 10px;
  background-color: #525427;
  padding: 10px;
}

/* Styles for each div inside the grid container */
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
}

/* Styles for the body */
body {
  margin: 10px;
  min-width: 250px;
  background-color: #fff; /* Background color with solid border */
  border: 1px dotted #000; /* Solid border with dotted lines */
}

/* Styles for the todo class */
.todo {
  padding: 15px;
  font-style: italic;
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Styles for the list */
ul {
  margin: 15px;
  padding: 15px;
  font-style: italic;
}

/* Styles for the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  -webkit-user-select: none; /* Make list items unselectable */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Styles for odd list items */
ul li:nth-child(odd) {
  background: rgba(202, 173, 136, 0.8);
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* Styles for checked list items */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Styles for the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #191717;
  color: white;
}

/* Styles for the header */
.header {
  background-color: #ae918f;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Styles for the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 7px;
  float: left;
  font-size: 16px;
  font-style: italic;
}

/* Styles for the "Add" button */
.addBtn {
  padding: 7px;
  width: 25%;
  background: rgba(202, 173, 136, 0.8);
  color: #000000;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  font-style: italic;
}

.addBtn:hover {
  background-color: #bbb;
}

/* Styles for the footer */
.foot {
  padding: 15px;
  font-style: italic;
}

/* Styles for the efficiency container */
.efficiency-container {
  position: relative;
  background-color: #fff;
  height: 40px;
  margin: 10px;
}

/* Styles for the efficiency bar */
.efficiency-bar {
  position: relative;
  background-color: #ddd;
  height: 25px;
  margin-top: 10px;
  font-style: italic;
  font-size: 24px;
}

/* Styles for the efficiency bar after element */
.efficiency-bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  background-color: #888;
  transition: width 0.3s ease;
}

/* Styles for the efficiency bar before element */
.efficiency-bar::before {
  content: attr(data-content);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
}

/* Media query for responsiveness */
@media screen and (max-width: 480px) {
  /* Styles for each div inside the grid container */
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 15px;
  }
}
