/* Custome Css goes here */

body {
  background: linear-gradient(to right, #0f0f0f, #050505);
  font-family: Arial, sans-serif;
  text-align: left;
}

h1 {
  color: #2d4747;
  text-align: center;
}

h4 {
  color: #2d4747;
  text-align: center;
}

/* Style for service cards */
.service-card {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  transition: transform 0.2s;
}

/* Style for service icons */
.service-icon {
  font-size: 36px;
  color: #007bff;
  margin-bottom: 10px;
}

/* Style for service titles */
.service-title {
  font-size: 18px;
  color: #333;
  margin-top: 0;
  margin-bottom: 10px;
}

/* Style for service descriptions */
.service-description {
  font-size: 14px;
  color: #666;
}

/* Hover effect on service cards */
.service-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: rgb(199, 197, 197);
}

/* Add this CSS to style the service images */
.service-image img {
  max-width: 70%;
  height: auto;
  border-radius: 5px;
  margin-top: 20px;
}
.service-image1 img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 20px;
}

/* Project container */
.container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}

/* Heading style */
h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Project card style */
.project-card {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  transition: transform 0.2s;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Project image style */
.project-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 20px;
}

/* Project info style */
.project-info {
  padding: 20px;
}

/* Project title style */
.project-title {
  font-size: 18px;
  color: #333;
  margin: 0;
}

/* Project details style */
.project-details {
  font-size: 14px;
  color: #666;
}

/* Add a hover effect */
.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
  background-color: rgb(199, 197, 197);
}

/* Grid container for image and content */
.about-grid {
  display: grid;
  grid-template-columns: 220px auto;
  grid-gap: 20px;
  align-items: center;
}

/* Style for the image frame */
.image-frame {
  border: 5px solid #c8ccd1;
  padding: 10px;
  border-radius: 50%;
}

/* Style for the image */
.image-frame img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

/* Style for the about content */
.about-content {
  padding: 20px;
}

/* Additional styles for the content as needed */
.about-content h2 {
  color: #333;
}

.about-content p {
  color: #666;
}

/* Style for the resume button */
.resume-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3f7dc0;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.resume-button:hover {
  background-color: rgb(15, 65, 46);
}

/* Grid container for contact info and form */
.contact-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  align-items: center;
}

/* Style for contact info section */
.contact-info {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for contact form section */
.contact-form {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
}

/* Label style */
label {
  display: block;
  margin-top: 10px;
}

/* Input and textarea style */
input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Submit button style */
input[type="submit"] {
  background-color: #3f7dc0;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgb(15, 65, 46);
}

/* Add a hover effect */
.container:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 12px rgba(97, 85, 41, 0.2);
}

h1 {
  font-size: 36px;
  margin: 0;
}

h5 {
  font-size: 20px;
  margin-top: 20px;
}

h6 {
  font-size: 18px;
  margin-top: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

hr {
  border: 1px solid #ccc;
  margin: 20px 0;
}

.welcome-message,
.mission-statement {
  margin-bottom: 20px;
}

.mission-goals {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.mission-goals > div {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}
