body {
  background: linear-gradient(to right, #000080, #000000);
  font-family: Arial, sans-serif;
  text-align: left;
}

h1,
h4 {
  color: #fff;
  text-align: center;
}

.service-card,
.project-card,
.contact-info,
.contact-form,
.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.service-icon {
  color: #007bff;
}

.service-title,
.service-description,
.project-title,
.project-details {
  color: #333;
}

.service-card:hover,
.project-card:hover {
  background-color: rgb(199, 197, 197);
  transform: scale(1.05);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.service-image img,
.service-image1 img,
.project-image img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 20px;
}

.about-content h2 {
  color: #333;
}

.about-content p {
  color: #666;
}

.resume-button {
  background-color: #3f7dc0;
}

.resume-button:hover {
  background-color: rgb(15, 65, 46);
}

.contact-info,
.contact-form {
  background-color: #f7f7f7;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

label,
input[type="text"],
input[type="tel"],
input[type="email"],
textarea,
input[type="submit"] {
  border: 1px solid #ccc;
}

input[type="submit"] {
  background-color: #3f7dc0;
  color: #fff;
}

input[type="submit"]:hover {
  background-color: rgb(15, 65, 46);
}

.container:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 12px rgba(97, 85, 41, 0.2);
}

h1 {
  font-size: 36px;
  margin: 0;
}

h5 {
  font-size: 20px;
  margin-top: 20px;
}

h6 {
  font-size: 18px;
  margin-top: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

hr {
  border: 1px solid #ccc;
  margin: 20px 0;
}

.welcome-message,
.mission-statement {
  margin-bottom: 20px;
}

.mission-goals {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.mission-goals > div {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Media query for devices with width 360px and above */
@media only screen and (min-width: 360px) {
  .container {
    padding: 10px;
  }
}
